body{
    background-image: url("../img/bg.jpg");
}
.title{
    margin-top: 10px;
    
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 300px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.258) ;
    border: 1px solid   #4e0500;
    border-radius: 15px;
}
.frm{
    margin-top: 10px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,0);
}
input, .loginBtn{
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid   #704946;
    
}
input{
    background-color: transparent;
    color: rgb(0, 48, 242);
    margin-top: 10px;
    width: 180px;
    height: 25px;
}
.loginBtn{
    background-color: rgb(163, 89, 89);
    color: white;
    margin-top: 10px;
    width: 190px;
    height: 30px;
    transition: 1.2s;
}
.loginBtn:hover{
    background-color: white;
    color: black;
}

